<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Board</h1>
    <ul>
      <% messages.map((message) => { %>
      <li>
        <b>USER:</b> <%= message.user %> 
        <b>TEXT:</b> <%= message.text %> 
        <b>ADDED:</b> <%= message.added.toLocaleString() %>
        <a href="/messages/<%= message.id %>">Open</a>
      </li>
      <% }) %>
    </ul>
    <a href="/new">Add message</a>
  </body>
</html>
